[submodule "hakoniwa-core-cpp"]
	path = hakoniwa-core-cpp
	url = https://github.com/toppers/hakoniwa-core-cpp.git
[submodule "hakoniwa-pdu-registry"]
	path = hakoniwa-pdu-registry
	url = https://github.com/hakoniwalab/hakoniwa-pdu-registry.git
